*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    height: 100vh;
}
.w-20{
    width: 20%;
}
.w-40{
    width: 40%;
}
.h-50{
    height: 50%;
}
.h-34{
    height: 34%;
}
.h-33{
    height: 33%;
}
.h-80{
    height: 80%;
    width: 100%;
    

}
.h-20{
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.w-33{
    width: 33%;
    height: 100%;
    
}
.w-34{
    width: 34%;
    height: 100%;
}
.w-50{
    width: 50%;
}
.w-20{
    width: 20%;
    height: 100%;
}
.w-80{
    width:80%;
    height: 100%;
    display: flex;
    flex-direction: row;
}
.r{
    background-color: red;
}
.b{
    background-color: blue;
}
.v{
    background-color: violet;
}
.g{
    background-color: green;
}
.y{
    background-color: yellow;
}
.br{
    background-color: brown;
}
.bv{
    background-color: blueviolet;
}
.p{
    background-color: purple;
}
.lg{
    background-color: lightgreen;
}
.f1{
    display: flex;
}
.f2{
    display: flex;
    flex-direction: row;
}
.f3{
    display: flex;
    flex-direction: column;
}