* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: mediumslateblue;
}

.hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardwrappereven {
    display: flex;
    justify-content: end;
}

.cardodd {
    text-align: right;
    border: 1px solid black;
    border-radius: 5px;
    width: 40%;
    padding: 10px;
    box-shadow: 8px 8px white;
    position: relative;
}

.cardodd::after {
    content: '';
    height: 15px;
    width: 15px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 3px 3px 20px white;
    position: absolute;
    top: 50%;
    left: 110%;
}

.cardeven {
    border: 1px solid black;
    border-radius: 5px;
    width: 40%;
    padding: 10px;
    box-shadow: 8px 8px white;
    position: relative;
}

.cardeven::before {
    content: '';
    height: 15px;
    width: 15px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 3px 3px 20px white;
    position: absolute;
    top: 50%;
    right: 110%;
}

.num {
    color: white;
}

.txt {
    font-size: 70%;
    color: white;
}

.title {
    margin-bottom: 5px;
}