* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 2rem;
}

header {    
    border-bottom: 1px solid grey;
    padding-bottom: 1rem;
}
header div{
    display: flex;
    justify-content: space-between;
}
header h1{
    margin-bottom: 10px;
}
.btn-primary {
    background-color: white;
    border: none;
    color: rgb(87, 60, 240);
    font-weight: bold;
}

main {
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
}

.productimg {
    width: 40%;
    padding-right: 2rem ;
}

img {
    height: 100%;
    max-width: 100%;
}

.orderdetails {
    width: 60%;
}

.productdetailswrapper {
    border-bottom: 1px solid grey;
    padding-bottom: 3rem;
}

.productdetails {
    margin-bottom: 3rem;
}

.productdetails h4 {
    margin-bottom: 5px;
}

.productdetails p:first-of-type {
    margin-bottom: 1rem;
}

.deliverydetails {
    display: flex;
    justify-content: space-between;
}

address {
    font-style: normal;
}

address h4 {
    margin-bottom: 10px;
}

.shippingupdates, address {
    width: 50%;
}

.shippingupdates h4 {
    margin-bottom: 10px;
}

.shippingupdates >p {
    margin-bottom: 15px;
}
.trackorder{
    padding-top: 2rem;
}

progress {
    width: 100%;
    accent-color: rgb(87, 60, 240);
    margin: 1rem 0;
    height: 20px;
}

.progressdetails {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    color: grey;
}

.progressdetails p:nth-child(-n+2) {
    color: rgb(87, 60, 240);
    
}