*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width:20%;
    border: 1px solid grey;   
    padding: 20px;   
}
img{
    height: 100%;
    max-width: 100%;
}
.tag{
    position: relative;
}
.tag1, .tag2{
    height:50px;
    width: 50px;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tag1{
     background-color: gray;
     color: white;
     font-size: 13px;
}
.tag2{
    background-color: orangered;
    color: white;
    font-size: 13px;
}
p{
    color: grey;
}
.details p span{
    color: orangered;
}