* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #11e0ee;
    
}
.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:30px;
    height: 100vh;
    width: 90%;
    margin: auto;
}

nav {
    display: flex;
    justify-content: space-between;
}

.btnmeet {
    background-color: white;
    border: 1px solid black;
    border-radius: 35px;
    font-weight: bold;
    font-size: 20px;
    padding: 0 30px;
}

.btnnav {
    /* margin: 20px; */
}

.btnnav1,
.btnnav2 {
    background-color: white;
    border: 1px solid black;
    font-weight: bold;
    /* padding: 20px; */
    border-radius: 30px;
    font-size: 20px;
    height: 50px;
    width: 50px;

}

.profiles {
    display: flex;
    width: 100%;
    min-height: 60%;
    gap: 10px;
}

.profiles>div {
    border: 1px solid black;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    max-width: 100%;

}

.name {
    position: absolute;
    bottom: 10px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.name>button {

    background-color: white;
    border: 1px solid black;
    font-size: 20px;
    padding: 5px 20px;
    border-radius: 30px;
}

.btnsocial {
    position: absolute;
    top: 10px;
    right: 10px;
}

.t {
    background-color: white;
    border: 1px solid black;
    border-radius: 50%;
    font-size: 20px;
    color: #11e0ee;
    height: 35px;
    width:35px;
}

.f {
    background-color: white;
    border: 1px solid black;
    border-radius: 50%;
    font-size: 20px;
    color: #083582;
    height: 35px;
    width:35px;
}